<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ConexionSQL" connectionString="Data Source=Data Source;Initial Catalog=Catalog;Persist Security Info=True;User ID=User ID;Password=Password" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	
</configuration>